@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
/* font-family: 'Noto Sans', sans-serif; */
body{
    background: aquamarine;
}
.content{
    font-family: 'Noto Sans', sans-serif;
    color: blueviolet;
}